@use "_reset.scss";
@use "_vars.scss" as *;
@use "_fonts.scss" as *;
@use "_mixins.scss" as *;

body {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: toRem(18);
  font-weight: 300;
  line-height: 1.5;
  color: $mainColor;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page {
  flex-grow: 1;
}
